:root,
body {
	--primary: #006876;
	--on-primary: #ffffff;
	--primary-container: #a1efff;
	--on-primary-container: #001f25;
	--secondary: #4a6268;
	--on-secondary: #ffffff;
	--secondary-container: #cde7ed;
	--on-secondary-container: #051f23;
	--tertiary: #545d7e;
	--on-tertiary: #ffffff;
	--tertiary-container: #dbe1ff;
	--on-tertiary-container: #101a37;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
	--background: #fbfcfd;
	--on-background: #191c1d;
	--surface: #f8fafa;
	--on-surface: #191c1d;
	--surface-variant: #dbe4e6;
	--on-surface-variant: #3f484a;
	--outline: #6f797b;
	--outline-variant: #bfc8ca;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #2e3132;
	--inverse-on-surface: #eff1f2;
	--inverse-primary: #44d8f1;
	--surface-dim: #d8dadb;
	--surface-bright: #f8fafa;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f2f4f4;
	--surface-container: #eceeef;
	--surface-container-high: #e6e8e9;
	--surface-container-highest: #e1e3e3;
}

@media (prefers-color-scheme: dark) {
	:root,
	body {
		--primary: #44d8f1;
		--on-primary: #00363e;
		--primary-container: #004e59;
		--on-primary-container: #a1efff;
		--secondary: #b1cbd1;
		--on-secondary: #1c3439;
		--secondary-container: #334a50;
		--on-secondary-container: #cde7ed;
		--tertiary: #bcc5eb;
		--on-tertiary: #262f4d;
		--tertiary-container: #3c4665;
		--on-tertiary-container: #dbe1ff;
		--error: #ffb4ab;
		--on-error: #690005;
		--error-container: #93000a;
		--on-error-container: #ffb4ab;
		--background: #191c1d;
		--on-background: #e1e3e3;
		--surface: #111415;
		--on-surface: #e1e3e3;
		--surface-variant: #3f484a;
		--on-surface-variant: #bfc8ca;
		--outline: #899295;
		--outline-variant: #3f484a;
		--shadow: #000000;
		--scrim: #000000;
		--inverse-surface: #e1e3e3;
		--inverse-on-surface: #2e3132;
		--inverse-primary: #006876;
		--surface-dim: #111415;
		--surface-bright: #363a3b;
		--surface-container-lowest: #0b0f10;
		--surface-container-low: #191c1d;
		--surface-container: #1d2021;
		--surface-container-high: #272b2b;
		--surface-container-highest: #323536;
	}
}
